@CHARSET "ISO-8859-1";
/* GENERAL */
html {
	background-color: #FFFFFF;
}

/* HEADER - bandeau*/
img { 
  max-width: 100%;
  max-height: 25%;
}

/* CORPS */

.fond_corps {
	font-size:.9em;
	background-color:#FFFFFF;
	border:1px solid black;
	border-radius: 10px;
	height:560px;
	min-width:50px
}
