@CHARSET "ISO-8859-1";
/* GENERAL */
html {
	background-color: #E4E6F2
}

#conteneur{
	position: absolute;
	width: 99%;
	padding: 0;
	margin: 0;
	text-align:center;
}

/* HEADER - bandeau*/



#header_left {
	background-color: #FFFFFF;
}

#header_right {
	background-color: #0477BF;
}

/* MENU - menu à gauche*/
ul {
 list-style-type:none;
 }
li {
 float:left; /*pour IE*/
background-color:#E4E6F2;
 }
#menu ul li a {
 display:block;   
 width:110px;
 line-height:30px; /*hauteur de l'image de fond*/
 background:url(../images/bouton_hover.png) repeat-x;
 color: #E4E6F2;
 text-decoration:none;
 text-align:center;
 }
#menu ul li a:hover {
 background: url(../images/bouton2_cambodge.png) repeat-x;
 color:white;
 text-decoration:none;
 }  

/* CORPS */
.fond_chemin {
	text-align:left;
	font-size:.9em;
	background-color:#E4E6F2;
	border:1px solid #FFFFFF;
	border-radius: 10px;
	height:25px;
	min-width:50px
}

.fond_corps {
	font-size:.9em;
	background-color:#FFFFFF;
	border:1px solid #FFFFFF;
	border-radius: 10px;
	height:560px;
	margin-left:210px;
	margin-top:3px;
	min-width:50px
}
