@CHARSET "ISO-8859-1";

@font-face {
	font-family:"khmerUnicode";
	src:url('lmns1.ttf');
}

.inputKH {
	font-size:22px;
	font-family:"khmerUnicode";
}

.sunday {
	background-color : #F9767A;
}

.saturday {
	background-color : #F6DB9C;
}

.planning {
	background-image: linear-gradient(white, #406892);
}