@CHARSET "ISO-8859-1";

@font-face {
	font-family:"khmerUnicode";
	src:url('lmns1.ttf');
}

.inputKH {
	font-size:22px;
	font-family:"khmerUnicode";
}

.planning {
	background-image: linear-gradient(white, #3F8DCE);
}

h1.title{
	text-indent:-9000px;
	background:transparent url(/images/title.png) no-repeat top left;
	width:633px;
	height:69px;
}

table{
	margin-bottom:0px !important;
}
#blogTable {
	border-collapse: separate;
}
#blogTable td{
	/*background:#f7f7c3;*/
	background-image:linear-gradient(white, #9ed9f7);
	border:none;
	border-radius: 10px;
}