@CHARSET "ISO-8859-1";
/* GENERAL */
html {
	background-color: #E4E6F2
}

#conteneur{
	position: absolute;
	width: 99%;
	padding: 0;
	margin: 0;
	text-align:center;
}

/* HEADER - bandeau*/
#header {
	position: relative;
	top:50px;
}

#header div {
	height: 140px;	
}

#header_center {
	background-image: url(../images/header.png); 
	background-repeat: no-repeat;
	position: relative;
	top: 0;
	left: 50%;
	width: 1024px;
	margin-left: -512px;
	z-index: 2;
}

#header_left {
	background-color: #FFFFFF;
	position: absolute;
	float: left;
	top: 0;
	left: 0;
	width: 50%;
}

#header_right {
	background-color: #0477BF;
	position: absolute;
	float: right;
	top: 0;
	right: 0;
	width: 50%;
}

/* MENU - menu à gauche*/
ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 float:left; /*pour IE*/
background-color:#E4E6F2;
 }
#menu ul li a {
 display:block;
 float:left;   
 width:110px;
 line-height:30px; /*hauteur de l'image de fond*/
 background:url(../images/bouton_hover.png) repeat-x;
 color: #E4E6F2;
 text-decoration:none;
 text-align:center;
 }
#menu ul li a:hover {
 background: url(../images/bouton2_cambodge.png) repeat-x;
 color:white;
 text-decoration:none;
 }  

/* CORPS */
.fond_chemin {
	text-align:left;
	font-size:.9em;
	background-color:#E4E6F2;
	border:1px solid #FFFFFF;
	border-radius: 10px;
	height:25px;
	min-width:50px
}

.fond_corps {
	font-size:.9em;
	background-color:#FFFFFF;
	border:1px solid #FFFFFF;
	border-radius: 10px;
	height:560px;
	margin-left:210px;
	margin-top:3px;
	min-width:50px
}
