@CHARSET "ISO-8859-1";
/* GENERAL */
html {
	background-color: #FFFFFF;
}

/* HEADER - bandeau*/

#header_left {
	background-color: #E4E6F2;
}

#header_right {
	background-color: #E4E6F2;
}

/* CORPS */

.fond_corps {
	font-size:.9em;
	background-color:#FFFFFF;
	border:1px solid black;
	border-radius: 10px;
	height:560px;
	min-width:50px
}
