@CHARSET "ISO-8859-1";

@font-face {
	font-family:"khmerUnicode";
	src:url('lmns1.ttf');
}

.tdLabel {
	text-align:right;
}

.required {
	color: red;
}

.inputKH {
	font-size:22px;
	font-family:"khmerUnicode";
}

#dataTable {
	cellspacing:15px;
}

.odd {
	background-color:#775986;
	border-collapse: separate;
    border-spacing: 5px 8px; 
}