<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- STRUTS 2 -->
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
	org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
    </filter-class>
  </filter>
  <filter-mapping>
	<filter-name>struts2</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
      <listener-class>
          org.apache.struts2.tiles.StrutsTilesListener
      </listener-class>
  </listener>
  
  <context-param>
      <param-name>tilesDefinitions</param-name>
      <param-value>/WEB-INF/tiles.xml</param-value>
  </context-param>
    
  <welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <jsp-config> 
      <taglib>
           <taglib-uri>/tags/struts-tiles</taglib-uri>
           <taglib-location>http://struts.apache.org/tags-tiles</taglib-location>
      </taglib>
  </jsp-config>
    
    
  <!-- Servlets -->

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>